[Desktop Entry]
Name=Google Chrome (Profile23)
Exec=google-chrome --profile-directory='Profile23' %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
