[Desktop Entry]
Name=Google Chrome (Profile14)
Exec=google-chrome --profile-directory='Profile14' %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
