[Desktop Entry]
Name=Google Chrome (Profile50)
Exec=google-chrome --profile-directory='Profile50' %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
