[Desktop Entry]
Name=Google Chrome (Profile19)
Exec=google-chrome --profile-directory='Profile19' %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
