[Desktop Entry]
Name=Google Chrome (Profile25)
Exec=google-chrome --profile-directory='Profile25' %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
