[Desktop Entry]
Name=Google Chrome (Profile11)
Exec=google-chrome --profile-directory='Profile11' %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
