[Desktop Entry]
Name=Google Chrome (Profile47)
Exec=google-chrome --profile-directory='Profile47' %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
