[Desktop Entry]
Name=Google Chrome (Profile24)
Exec=google-chrome --profile-directory='Profile24' %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
