[Desktop Entry]
Name=Google Chrome (Profile28)
Exec=google-chrome --profile-directory='Profile28' %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
