[Desktop Entry]
Name=Google Chrome (Profile30)
Exec=google-chrome --profile-directory='Profile30' %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
