[Desktop Entry]
Name=Google Chrome (Profile43)
Exec=google-chrome --profile-directory='Profile43' %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
