[Desktop Entry]
Name=Google Chrome (Profile26)
Exec=google-chrome --profile-directory='Profile26' %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
