[Desktop Entry]
Name=Google Chrome (Profile27)
Exec=google-chrome --profile-directory='Profile27' %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
